// Tenants custom styles by democrateam

.tenant-megacity,
.tenant-microvillage {

  main {

    &.budgets-index {
      margin-top: -24px;
    }
  }
}

.tenant-megacity {
  --brand: #da1f16;
  --brand-secondary: #002b34;
  --main-header: #fff;
  --main-header-contrast: #222;
  --top-links: #da1f16;
  --top-links-contrast: #fff;
  --anchor-color: #da1f16;
  --anchor-color-hover: #002b34;

  .subnavigation a {
    color: $text;

    &.is-active {
      color: #da1f16;

      &::after {
        background: #da1f16;
      }
    }
  }

  .locale .locale-form select {
    background: #fff;
    color: $text;
  }

  .footer {
    background: #002b34;
  }

  .menu.simple li.is-active::after,
  .no-bullet.submenu li a.is-active::after {
    border-bottom: 4px solid #da1f16;
  }

  .help-header a {
    color: #da1f16;
  }
}

.tenant-microvillage {
  --brand: #000;
  --brand-secondary: #0c9d46;
  --main-header: #fff;
  --main-header-contrast: #222;
  --top-links: #000;
  --top-links-contrast: #fff;
  --anchor-color: #0c9d46;
  --anchor-color-hover: #73b439;

  .subnavigation a {
    color: $text;

    &.is-active {
      color: #000;

      &::after {
        background: #000;
      }
    }
  }

  .locale .locale-form select {
    background: #fff;
    color: $text;
  }

  .footer {
    background: #0c9d46;
  }

  .menu.simple li.is-active::after,
  .no-bullet.submenu li a.is-active::after {
    border-bottom: 4px solid #0c9d46;
  }

  .help-header a {
    color: #0c9d46;
  }
}
